*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.Home{
    background-image: url("./images/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;

}
.title{
     padding-top: 14%;
     font-size: 58px;
}
